/* color schema */
/* https://coolors.co/264653-2a9d8f-e9c46a-f4a261-e76f51 */
body {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  line-height: 1.7;
  color: #333;
}
h1,
h2,
h3,
h4 {
  color: #e76f51;
  font-family: 'Arvo', serif;
}
a {
  text-decoration: none;
  color: #2a9d8f;
}
a:visited,
a:hover,
a:focus {
  color: #1a759f;
}
.example {
  padding: 20px;
}
code {
  background: #eee;
  padding: 0 0.4em;
  border-radius: .3em;
  display: inline-block;
  vertical-align: middle;
  font-size: 0.9em;
}
input {
  padding: 0.2em;
}
