/* color schema */
/* https://coolors.co/f6bd60-f7ede2-f5cac3-84a59d-f28482 */
:root {
  --color0: #333;
  --color1: #f28482;
  --color2: #84a59d;
  --color3: #f5cac3;
  --color4: #f7ede2;
  --color4: #f6bd60;
}
html {
  scroll-behavior: smooth;
}
body {
  font-size: 16px;
  line-height: 1.7;
  color: var(--color0);
}
main {
  max-width: 800px;
}
/* override */
.home-link > span {
  display: none;
}
/* override */
.field-guide-wrapper nav.field-guide-sidenav {
  background-color: var(--color3);
}
/* override */
.field-guide-wrapper a.home-link {
  border: 0;
}
.active li.field-guide-toc-item {
  border-left: 5px solid var(--color1);
  background-color: transparent;
}
div.field-guide-table-of-contents a {
  color: var(--color0);
}
/* override */
.field-guide-toc-item-link:hover {
  color: #fff;
  background-color: var(--color1);
}
h1,
h2,
h4,
h3 {
  font-family: 'Amiri', serif;
}
h1 {
  font-size: 2em;
}
h2,
h4,
h3 {
  font-size: 1.3em;
}
h1,
h2,
h3 {
  color: #000;
  border-bottom: 1px solid #000;
}
h4 {
  color: var(--color1);
}
a {
  text-decoration: none;
  color: var(--color1);
}
a:visited,
a:hover,
a:focus {
  color: var(--color3);
}
.example {
  padding: 20px;
}
*:target {
  border-bottom: 1px solid var(--color4);
}
code {
  font-family: 'Ubuntu Mono', monospace;
  color: #111;
  background: #eee;
  padding: 0 0.4em;
  border-radius: 0.3em;
  display: inline-block;
  vertical-align: middle;
  font-size: 0.9em;
}
input {
  padding: 0.2em;
  border: 1px solid var(--color0);
}
input:invalid {
  border-color: var(--color4);
}
