<form {{did-insert this.registerElement}} data-test-validator-container novalidate>
  {{yield
    (hash
      validating=this.validating
      isValid=this.isValid
      checkForm=this.checkForm
      validity=(component "validator-wrapper"
        validating=this.validating
        registerId=this.registerId
        onWrapperValidate=this.onWrapperValidate
      )
    )
  }}
</form>