<form
  novalidate
  data-test-validator-container
  ...attributes
  {{register-element this.registerElement}}
>
  {{yield
    (hash
      validating=this.validating
      isValid=this.isValid
      checkForm=this.checkForm
      validity=(component "validator-wrapper"
        validating=this.validating
        registerId=this.registerId
        onWrapperValidate=this.onWrapperValidate
      )
    )
  }}
</form>